bookstore{
    display:block;
    width:900px;
    margin:30px auto;
    background:#eef5ff;
    padding:20px;
    text-align:center;
    font-family:Arial;
}

title{
    display:block;
    font-size:32px;
    color:#0066cc;
    font-weight:bold;
    margin-bottom:20px;
}

book{
    display:inline-block;
    width:220px;
    margin:10px;
    padding:15px;
    background:white;
    border-radius:12px;
    border:1px solid #ddd;
    box-shadow:2px 2px 8px #bbb;
    transition:.3s;
}

book:hover{
    background:#dff6ff;
    transform:scale(1.05);
}

name{
    display:block;
    font-size:22px;
    color:#008000;
    font-weight:bold;
}

author,price{
    display:block;
    margin-top:8px;
    color:#555;
}