.projects{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-top:30px;
}

.card{
    width:300px;
    background:#fff;
    padding:10px;
    border-radius:10px;
    box-shadow:0 2px 8px gray;
    transition:.3s;
}

.card img{
    width:100%;
    height:180px;
    border-radius:8px;
}

.date{
    color:gray;
    font-size:14px;
}

a{
    text-decoration:none;
    color:blue;
    font-weight:bold;
}